.common {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 80vh;
  filter: brightness(0.85);
  background-position: center;
  background-size: cover;
  z-index: -10;
  scroll-behavior: smooth;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.backGroundAnimate {
    animation-name: backGroundAnimate;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-iteration-count: infinite;
}

@keyframes backGroundAnimate {
    0% {
        background-color: #0c0e32fb;
    }
    50% {
        background-color: #081b22fb;
    }
    100% {
        background-color: #180721fb;
    }
}

.scrollRight {
    animation-name: scrollRight;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes scrollRight {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.scrollLeft {
    animation-name: scrollLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes scrollLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.animate {
    animation-name: animate;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes animate {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}


